*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  margin: 0;
  font: normal 1em/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cf-example-header {
  background: #00A9EB;
  color: white;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  font-size: 20px;
  font-weight: 200;
  line-height: 50px;
  text-align: center;
}

.cf-example-sidebar {
  display: none;
}

.cf-example-content {
  padding: 0 2rem;
}

.cf-example__heading {
  padding-top: 60px;
  margin-top: 0px;
}

@media (min-width: 960px) {
  .cf-example-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }

  .cf-example-sidebar {
    display: block;
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 250px;
    background: white;
    border-right: 3px solid #eee;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .cf-example-sidebar a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #00A9EB;
  }

  .cf-example-sidebar a:hover {
    background: #eee;
  }

  .cf-example-content {
    margin-top: 50px;
    margin-left: 250px;
  }
}

.cf-example {
  margin: 20px 0;
}

.cf-example__content,
.cf-example__code {
  padding: 20px;
}

.cf-example__content {
  background: #f9f9f9;
  border: 3px solid #eee;
  border-bottom: 3px solid #eee;
  border-radius: 3px 3px 0 0;
}

.cf-example__code,
.cf-example__proptypes {
  border: 3px solid #000;
  border-radius: 0 0 3px 3px;
  background-color: #1d1f21;
  color: #c5c8c6;
  -webkit-font-smoothing: antialiased;
}

.cf-example__code {
  border-radius: 0 0 3px 3px;
}

.cf-example__code,
.cf-example__proptypes_table {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.cf-example__proptypes {
  border-radius: 3px;
}

.cf-example__code pre,
.cf-example__proptypes pre {
  margin: 0;
  font-family: inherit;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.cf-example__code pre {
  font-size: 0.8em;
}

.cf-example__proptypes_table table {
  border-spacing: 0;
  min-width: 100%;
  background: #181A1D;
  padding: 1em 0;
}

.cf-example__proptypes_table td,
.cf-example__proptypes_table th {
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
}

.cf-example__proptypes_table th:first-child {
  width: 20%;
  min-width: 120px;
  text-align: right;
  padding-right: 1em;
}

.cf-example__proptypes_name {
  margin: -3em 0 0;
  padding: 4em 0 1em 1em;
}

.cf-example__proptypes_table pre {
  margin: 0;
}

.cf-example__proptypes_name code,
.cf-example__proptypes_table code {
  background: transparent;
  color: inherit;
  padding: 0;
  white-space: pre-wrap;
}

.cf-example__proptypes_table pre,
.cf-example__proptypes_table code {
  display: block;
  font-size: 0.9em;
}

.cf-example__proptypes_table a {
  color: #00A9EB;
}

.cf-example__code::before,
.cf-example__proptypes::before {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #999;
}

.cf-example__code::before {
  content: "Example Code";
  margin-bottom: 1em;
}

.cf-example__proptypes::before {
  content: "PropTypes";
  margin-left: 1.5em;
  margin-top: 1.25em;
}

#cf-component-flex--basic .cf-flex + .cf-flex {
  margin-top: 10px;
}

#cf-component-flex--basic .cf-flex__item,
#cf-component-layout--basic .cf-layout__column {
  padding: 5px 8px;
  background: #ccc;
  border: 1px solid #bbb;
  text-align: center;
  white-space: nowrap;
}

#cf-component-icon--basic .cf-icon {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 0 10px 10px 0;

  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#cf-component-icon--basic .cf-icon::before {
  margin-right: 10px;
}

#cf-component-icon--basic .cf-icon__label {
  width: auto;
  height: auto;
}

#cf-component-label--basic,
#cf-component-typography--basic {
  word-wrap: break-word;
}

#cf-component-viewport--basic .cf-viewport--is,
#cf-component-viewport--basic .cf-viewport--not {
  padding: 1em;
  margin: 0;
  margin-bottom: 2px;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#cf-component-viewport--basic .cf-viewport--is {
  background: #00A9EB;
}

#cf-component-viewport--basic .cf-viewport--not {
  background: gray;
}

/**
 * Code Highlighting
 */

.cf-example__code .invisible-character { color: rgba(197, 200, 198, 0.2); }
.cf-example__code .indent-guide { color: rgba(197, 200, 198, 0.2); }
.cf-example__code .wrap-guide { background-color: rgba(197, 200, 198, 0.1); }
.cf-example__code .gutter { background-color: #292c2f; }
.cf-example__code .gutter .cursor-line { background-color: rgba(255, 255, 255, 0.14); }
.cf-example__code .line-number.cursor-line-no-selection { background-color: rgba(255, 255, 255, 0.14); }
.cf-example__code .gutter .line-number.foldedd,
.cf-example__code .gutter .line-number:afterr,
.cf-example__code .fold-marker:after { color: #fba0e3; }
.cf-example__code .invisible { color: #c5c8c6; }
.cf-example__code .cursor { border-color: white; }
.cf-example__code .selection .region { background-color: #444; }
.cf-example__code .source.gfm { color: #999; }
.cf-example__code .gfm .markup.heading { color: #eee; }
.cf-example__code .gfm .link { color: #555; }
.cf-example__code .gfm .variable.listt,
.cf-example__code .gfm .support.quote { color: #555; }
.cf-example__code .gfm .link .entity { color: #ddd; }
.cf-example__code .gfm .raw { color: #aaa; }
.cf-example__code .markdown .paragraph { color: #999; }
.cf-example__code .markdown .heading { color: #eee; }
.cf-example__code .markdown .raw { color: #aaa; }
.cf-example__code .markdown .link { color: #555; }
.cf-example__code .markdown .link .string { color: #555; }
.cf-example__code .markdown .link .string.title { color: #ddd; }

.comment { color: #7C7C7C; }
.entity { color: #FFD2A7; }
.entity.name.type { text-decoration: underline; color: #FFFFB6; }
.entity.other.inherited-class { color: #9B5C2E; }
.keyword { color: #96CBFE; }
.keyword.control { color: #96CBFE; }
.keyword.operator { color: #EDEDED; }
.storage { color: #CFCB90; }
.storage.modifier { color: #96CBFE; }
.constant { color: #99CC99; }
.constant.numeric { color: #FF73FD; }
.variable { color: #C6C5FE; }
.invalid.deprecated { text-decoration: underline; color: #FD5FF1; }
.invalid.illegal { color: #FD5FF1; background-color: rgba(86, 45, 86, 0.75); }
.string .source,
.string .meta.embedded.line { color: #EDEDED; }
.string .punctuation.section.embedded { color: #00A0A0; }
.string .punctuation.section.embedded .source { color: #00A0A0; }
.string { color: #A8FF60; }
.string .constant { color: #00A0A0; }
.string.regexp { color: #E9C062; }
.string.regexp .constant.character.escape,
.string.regexp .source.ruby.embedded,
.string.regexp .string.regexp.arbitrary-repetition { color: #FF8000; }
.string.regexp.group { color: #C6A24F; background-color: rgba(255, 255, 255, 0.06); }
.string.regexp.character-class { color: #B18A3D; }
.string .variable { color: #8A9A95; }
.support { color: #FFFFB6; }
.support.function { color: #DAD085; }
.support.constant { color: #FFD2A7; }
.support.type.property-name.css { color: #EDEDED; }
.source .entity.name.tag,
.source .punctuation.tag { color: #96CBFE; }
.source .entity.other.attribute-name { color: #C6C5FE; }
.entity.other.attribute-name { color: #C6C5FE; }
.entity.name.tag.namespace,
.entity.other.attribute-name.namespace { color: #E18964; }
.meta.preprocessor.c { color: #8996A8; }
.meta.preprocessor.c .keyword { color: #AFC4DB; }
.meta.cast { color: #676767; }
.meta.sgml.html .meta.doctype,
.meta.sgml.html .meta.doctype .entity,
.meta.sgml.html .meta.doctype .string,
.meta.xml-processing,
.meta.xml-processing .entity,
.meta.xml-processing .string { color: #494949; }
.meta.tag .entity,
.meta.tag > .punctuation,
.meta.tag.inline .entity { color: #C6C5FE; }
.meta.tag .name,
.meta.tag.inline .name,
.meta.tag > .punctuation { color: #96CBFE; }
.meta.selector.css .entity.name.tag { text-decoration: underline; color: #96CBFE; }
.meta.selector.css .entity.other.attribute-name.tag.pseudo-class { color: #8F9D6A; }
.meta.selector.css .entity.other.attribute-name.id { color: #8B98AB; }
.meta.selector.css .entity.other.attribute-name.class { color: #62B1FE; }
.meta.property-group .support.constant.property-value.css,
.meta.property-value .support.constant.property-value.css { color: #F9EE98; }
.meta.preprocessor.at-rule .keyword.control.at-rule { color: #8693A5; }
.meta.property-value .support.constant.named-color.css,
.meta.property-value .constant { color: #87C38A; }
.meta.constructor.argument.css { color: #8F9D6A; }
.meta.diff,
.meta.diff.header { color: #F8F8F8; background-color: #0E2231; }
.meta.separator { color: #60A633; background-color: #242424; }
.meta.line.entry.logfile,
.meta.line.exit.logfile { background-color: rgba(238, 238, 238, 0.16); }
.meta.line.error.logfile { background-color: #751012; }